@model IEnumerable<MobilePhonesIMTS.Models.Article>
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

@{
    ViewData["Title"] = "Browse Articles";
}

<h2>Browse Articles</h2>

@if (!SignInManager.IsSignedIn(User))
{
    <text>PLEASE LOG IN TO VIEW FULL ARTICLE </text>
}

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                Author
            </th>
            <th>
                Abstract
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Category)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.City)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DatePublished)
            </th>

            @if (SignInManager.IsSignedIn(User))
            {
                <th>
                   Browse the File
                </th>
            }
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.User.FirstName) @Html.DisplayFor(modelItem => item.User.LastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ArticleAbstract)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Category)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.City)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DatePublished)
            </td>
@if (SignInManager.IsSignedIn(User))
{
            <td>
                <a asp-controller="uploads" asp-action="@item.SystemPath">  View </a>
            </td>
}
else
{
    
}
        </tr>
}
    </tbody>
</table>
